@model IEnumerable<BoardGameStore.Models.BoardGame> 

@{
    ViewData["Title"] = "Board Games";
}

<div class="container mt-4">
    <h1 class="text-center">Board Games</h1>
    <div class="row">
        <form method="get" class="mb-4" asp-controller="Home" asp-action="Search" onsubmit="return validatePlayerRange()">
            <div class="row g-3">
                <div class="col-md-3">
                    <label for="minPlayers" class="form-label">Minimum Players</label>
                    <input type="number" class="form-control" id="minPlayers" name="minPlayers" min="1" />
                </div>
                <div class="col-md-3">
                    <label for="maxPlayers" class="form-label">Maximum Players</label>
                    <input type="number" class="form-control" id="maxPlayers" name="maxPlayers" min="1" />
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>


        @foreach (var boardGame in Model)
        {
            <div class="col-md-4 mb-4" class="boardgame-container">
                <div class="card">
                    <img class="card-img-top" src="@boardGame.ImageUrl" alt="@boardGame.Title";">
                    <div class="card-body">
                        <h5 class="card-title">@boardGame.Title</h5>
                        <p class="card-text">
                            <strong>Price:</strong> $@boardGame.PurchasePrice
                        </p>
                        <a asp-controller="Purchase" asp-action="Index" asp-route-boardGameId="@boardGame.BoardGameId"
                        asp-route-userId="@ViewBag.UserId" class="btn btn-primary">Buy</a>
                        <a asp-controller="Rentals" asp-action="Index" asp-route-boardGameId="@boardGame.BoardGameId"
                        asp-route-userId="@ViewBag.UserId" class="btn btn-primary">Rent</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/js/searchButtonChecker.js" asp-append-version="true"></script>